* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
}

body {
  background: hsl(210, 36%, 96%);
}

nav {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: teal;
}

a {
  text-decoration: none;
  color: white;
  width: fit-content;
}

a:hover {
  color: wheat;
}

main {
  padding-top: 2em;
  width: 50%;
  margin: auto;
  text-align: center;
}

input,
button,
h4 {
  width: fit-content;
}

p {
  margin-top: 1em;
}

.item {
  width: 70%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
}

.item button,
.item a {
  background: transparent;
  border-color: transparent;
  color: teal;
  cursor: pointer;
}

@media (max-width: 425px) {
  input {
    width: 100%;
    margin-bottom: .5rem;
  }
}